ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #98012E;
    color: white;
}
li.active > a{
    background-color: #98012E;
    color: white;
}
.container {
    width: 80%;
    background: aqua;
    margin: 0;
}
.one {
    width: 15%;
    background: #f1f1f1;
    float: left;
}
.two {
    margin-left: 15%;
    background: #efefef;
}